{
  "debug": true,
  "server": {
    "rest": ":9090",
    "rpc": ":50051"
  },
  "context":{
    "timeout":2
  },
  "database": {
    "mysql": {
      "hostname": "localhost",
      "port": "3306",
      "username": "root",
      "password": "root",
      "database": "article",
      "driver": "mysql"
    },
    "mongo": {
      "hostname": "localhost",
      "driver": "mongodb"
    }
  }

}
